<div class="form-container">

<form class="form-horizontal">
  <div class="form-group">
    <h2 class="col-sm-offset-2 col-sm-10"><i class="glyphicon glyphicon-edit"></i> Edit customer</h2>
    <h3 class="col-sm-offset-2 col-sm-10">{{customer.name}} (<a href="" ng-click="ctrl.changeState('customerOrders',customer)" >View Orders</a>)</h3>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">Name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" ng-model="customer.name">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">Location</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" ng-model="customer.location">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">Email</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" ng-model="customer.email">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">Gender</label>
    <div class="radio col-sm-7">
      <label><input type="radio" ng-model="customer.gender" value="male" >Male</label>
    </div>
    <div class="radio col-sm-offset-2 col-sm-7">
      <label><input type="radio" ng-model="customer.gender" value="female">Female</label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2">
      <button type="submit" class="btn btn-info" ng-click="ctrl.updateCustomer()">Update</button>
      <button type="submit" class=" btn btn-danger" ng-click="ctrl.deleteCustomer()">Delete</button>
    </div>
  </div>


</form>

</div>
