<p>
  <h2><i class="glyphicon glyphicon-user"></i>Customers</h2>
</p>
<ul class="nav nav-pills">
  <li><a href="" ng-click="selection='grid'"><i class="glyphicon glyphicon-th"></i>Grid View</a></li>
  <li><a href="" ng-click="selection='list'"><i class="glyphicon glyphicon-th-list"></i>List view</a></li>
  <li><a href="" ng-click="ctrl.open()"><i class="glyphicon glyphicon-plus"></i>Add Customer</a></li>
  <li class="pull-right">Filter  <input type="text" ng-model="ctrl.searchParams" ng-change="ctrl.search()"</li>
</ul>
<div ng-switch on="selection">

<div ng-switch-when="list" class="animate-fade" ng-animate-children>
  <table class="table table-striped">
    <thead>
    <tr class="row bg-primary">
      <th> </th>
      <th>Name </th>
      <th>Location</th>
      <th>Orders </th>
      <th> </th>
    </tr>
  </thead>
    <tr class="row" ng-repeat="customer in filteredCustomers.slice((currentPage-1)*itemsPerPage,currentPage*itemsPerPage)" >
      <td><img ng-src="{{customer.image}}" class="cardImage"/> </td>
      <td><a href="" ng-click="ctrl.changeState('editDetails',customer)">{{customer.name}}</a> </td>
      <td> {{customer.location}}</td>
      <td><a ng-click="ctrl.changeState('customerOrders',customer)" href="">
        {{customer.orders.length}} Order<span ng-if="customer.orders.length!=1">s</span>
      </a></td>
      <td><button class="btn btn-danger" ng-click="ctrl.deleteListItem(customer,$event)">Delete</button> </td>
    </tr>
  </table>
  <ul uib-pagination total-items="customers.length" ng-model="currentPage"
              ng-change="pageChanged()"  items-per-page="itemsPerPage"
              template-url="bower_components\angular-ui-bootstrap\template\pagination\pagination.html"></ul>
</div>
<div ng-switch-when="grid" class="animate-fade">
  <table class="table table-borderless">
    <tr class="row" ng-repeat="row in customersGrid.slice((currentPage-1)*gridItemsPerPage,currentPage*gridItemsPerPage )" >
      <td class="col-md-3 test"  ng-repeat="customer in row">
        <grid-cell customer="customer" delete-customer="ctrl.deleteGridItem(customer,event)" change-state="ctrl.changeState(state,customer)"></grid-cell>
      </td>
    </tr>
  </table>
  <ul uib-pagination total-items="customersGrid.length" ng-model="currentPage"
              ng-change="pageChanged()" items-per-page="gridItemsPerPage"
              template-url="bower_components\angular-ui-bootstrap\template\pagination\pagination.html"></ul>
</div>
</div>
